<?xml version="1.0" encoding="iso-8859-1"?>

<launch>
  <arg
    name="model" />
  <arg
    name="gui"
    default="false" />
  <param
    name="robot_description"
    textfile="$(find irb140)/robots/IRB140_-_M2000_REV2_01.URDF" />
  <param
    name="use_gui"
    value="$(arg gui)" />
  <node
    name="joint_state_publisher"
    pkg="joint_state_publisher"
    type="joint_state_publisher" 
    output="screen"/>
  <node
    name="robot_state_publisher"
    pkg="robot_state_publisher"
    type="robot_state_publisher" 
    	output="screen"/>
  <node
    name="rviz"
    pkg="rviz"
    type="rviz"
    args="-d $(find irb140)/urdf.rviz" />
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" />
  <node
    name="spawn_model"
    pkg="gazebo"
    type="spawn_model"
    args="-file $(find irb140)/robots/IRB140_-_M2000_REV2_01.URDF-urdf -model IRB140_-_M2000_REV2_01"
    output="screen" />
</launch>
